################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/Store/FileContentIndex/ccac7fd3-2f1d-466b-873e-e81c0cb3210b.vsidx
/.vs/Store/FileContentIndex/8291aee5-d23e-46f0-9b1e-7721d6ebded1.vsidx
/.vs/Store/FileContentIndex/6138bf1d-746d-4a7f-9d0b-7e904eb1ca74.vsidx
/.vs/Store/FileContentIndex/37927d84-93c6-46bc-85bd-c58a9e8ce08c.vsidx
/.vs/Store/FileContentIndex
